/* Snowfall.css */
.snowfall {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    overflow: hidden;
  }
  
  .snowflake {
    position: absolute;
    top: -10px;
    font-size: 1.1em; /* Ajusta el tamaño general */
    opacity: 0.8;
    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  @keyframes fall {
    0% {
      transform: translateY(-1vh) rotate(0deg);
      opacity: 0.6;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translateY(100vh) rotate(360deg);
      opacity: 0.3;
    }
  }
  