#visor{
    height: 70%;
    background: #000;
    border: 10px solid transparent;
    border-image: linear-gradient(180deg, #e2c928 0, #fff 50%, rgba(219, 5, 5, .808)) 1;
    margin-top: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    position: relative;
    /* top: -100px; */
}